:host {
  height: 100%;
  width: 100%;
}

.letter-box {
  height: 100%;
  width: 100%;
  padding: .5rem;
  border: 1px solid black;
}

.letter-box:focus-within {
  box-shadow: 2px 2px 5px lightgrey;
}

textarea {
  height: 100%;
  width: 100%;
  resize: none;
  outline: none;
  border: none;
}
