<div
  class="container"
  [ngClass.xs]="'mobile-height'"
>
  <div
    class="hero"
    [ngClass.xs]="'mobile-margin'"
  >
    <p
      class="hero-txt"
      [ngClass.xs]="'cen-txt'"
    >Send emails using virtual ravens</p>

    <p
      class="msg-txt"
      [ngClass.xs]="'cen-txt'"
    >
      Welcome to Ravinbox,<br> an app that lets you write a letter,
      seal it with wax,
      and deliver it using a virtual raven.
    </p>
  </div>

  <div class="buttons">
    <button
      class="bwidth"
      color="primary"
      mat-flat-button
      (click)="onTryIt()">TRY IT OUT</button>
    <button
      class="bwidth"
      mat-stroked-button
      (click)="onHowItWorks()">HOW IT WORKS</button>
  </div>
</div>
